.particle-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.particle-container .circle-container {
  position: absolute;
  transform: translateY(-10vh);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
.particle-container .circle-container .circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  mix-blend-mode: screen;
  background-image: radial-gradient(#147500, #147500 10%, rgba(20, 117, 0, 0) 56%);
  -webkit-animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
          animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
}

@-webkit-keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-frames {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}
@keyframes scale-frames {
  0% {
    transform: scale3d(0.4, 0.4, 1);
  }
  50% {
    transform: scale3d(2.2, 2.2, 1);
  }
  100% {
    transform: scale3d(0.4, 0.4, 1);
  }
}
.particle-container .circle-container:nth-child(1) {
  width: 9px;
  height: 9px;
  -webkit-animation-name: move-frames-1;
          animation-name: move-frames-1;
  -webkit-animation-duration: 7178ms;
          animation-duration: 7178ms;
  -webkit-animation-delay: 6610ms;
          animation-delay: 6610ms;
}
@-webkit-keyframes move-frames-1 {
  from {
    transform: translate3d(28vw, 101vh, 0);
  }
  to {
    transform: translate3d(98vw, -128vh, 0);
  }
}
@keyframes move-frames-1 {
  from {
    transform: translate3d(28vw, 101vh, 0);
  }
  to {
    transform: translate3d(98vw, -128vh, 0);
  }
}
.particle-container .circle-container:nth-child(1) .circle {
  -webkit-animation-delay: 1985ms;
          animation-delay: 1985ms;
}
.particle-container .circle-container:nth-child(2) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-2;
          animation-name: move-frames-2;
  -webkit-animation-duration: 8299ms;
          animation-duration: 8299ms;
  -webkit-animation-delay: 8914ms;
          animation-delay: 8914ms;
}
@-webkit-keyframes move-frames-2 {
  from {
    transform: translate3d(84vw, 103vh, 0);
  }
  to {
    transform: translate3d(26vw, -114vh, 0);
  }
}
@keyframes move-frames-2 {
  from {
    transform: translate3d(84vw, 103vh, 0);
  }
  to {
    transform: translate3d(26vw, -114vh, 0);
  }
}
.particle-container .circle-container:nth-child(2) .circle {
  -webkit-animation-delay: 2ms;
          animation-delay: 2ms;
}
.particle-container .circle-container:nth-child(3) {
  width: 10px;
  height: 10px;
  -webkit-animation-name: move-frames-3;
          animation-name: move-frames-3;
  -webkit-animation-duration: 8799ms;
          animation-duration: 8799ms;
  -webkit-animation-delay: 692ms;
          animation-delay: 692ms;
}
@-webkit-keyframes move-frames-3 {
  from {
    transform: translate3d(7vw, 110vh, 0);
  }
  to {
    transform: translate3d(62vw, -115vh, 0);
  }
}
@keyframes move-frames-3 {
  from {
    transform: translate3d(7vw, 110vh, 0);
  }
  to {
    transform: translate3d(62vw, -115vh, 0);
  }
}
.particle-container .circle-container:nth-child(3) .circle {
  -webkit-animation-delay: 2680ms;
          animation-delay: 2680ms;
}
.particle-container .circle-container:nth-child(4) {
  width: 4px;
  height: 4px;
  -webkit-animation-name: move-frames-4;
          animation-name: move-frames-4;
  -webkit-animation-duration: 8055ms;
          animation-duration: 8055ms;
  -webkit-animation-delay: 1606ms;
          animation-delay: 1606ms;
}
@-webkit-keyframes move-frames-4 {
  from {
    transform: translate3d(94vw, 104vh, 0);
  }
  to {
    transform: translate3d(11vw, -112vh, 0);
  }
}
@keyframes move-frames-4 {
  from {
    transform: translate3d(94vw, 104vh, 0);
  }
  to {
    transform: translate3d(11vw, -112vh, 0);
  }
}
.particle-container .circle-container:nth-child(4) .circle {
  -webkit-animation-delay: 409ms;
          animation-delay: 409ms;
}
.particle-container .circle-container:nth-child(5) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-5;
          animation-name: move-frames-5;
  -webkit-animation-duration: 9198ms;
          animation-duration: 9198ms;
  -webkit-animation-delay: 4320ms;
          animation-delay: 4320ms;
}
@-webkit-keyframes move-frames-5 {
  from {
    transform: translate3d(43vw, 102vh, 0);
  }
  to {
    transform: translate3d(32vw, -121vh, 0);
  }
}
@keyframes move-frames-5 {
  from {
    transform: translate3d(43vw, 102vh, 0);
  }
  to {
    transform: translate3d(32vw, -121vh, 0);
  }
}
.particle-container .circle-container:nth-child(5) .circle {
  -webkit-animation-delay: 3435ms;
          animation-delay: 3435ms;
}
.particle-container .circle-container:nth-child(6) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-6;
          animation-name: move-frames-6;
  -webkit-animation-duration: 8713ms;
          animation-duration: 8713ms;
  -webkit-animation-delay: 3927ms;
          animation-delay: 3927ms;
}
@-webkit-keyframes move-frames-6 {
  from {
    transform: translate3d(100vw, 102vh, 0);
  }
  to {
    transform: translate3d(18vw, -107vh, 0);
  }
}
@keyframes move-frames-6 {
  from {
    transform: translate3d(100vw, 102vh, 0);
  }
  to {
    transform: translate3d(18vw, -107vh, 0);
  }
}
.particle-container .circle-container:nth-child(6) .circle {
  -webkit-animation-delay: 2461ms;
          animation-delay: 2461ms;
}
.particle-container .circle-container:nth-child(7) {
  width: 1px;
  height: 1px;
  -webkit-animation-name: move-frames-7;
          animation-name: move-frames-7;
  -webkit-animation-duration: 10676ms;
          animation-duration: 10676ms;
  -webkit-animation-delay: 115ms;
          animation-delay: 115ms;
}
@-webkit-keyframes move-frames-7 {
  from {
    transform: translate3d(66vw, 109vh, 0);
  }
  to {
    transform: translate3d(14vw, -115vh, 0);
  }
}
@keyframes move-frames-7 {
  from {
    transform: translate3d(66vw, 109vh, 0);
  }
  to {
    transform: translate3d(14vw, -115vh, 0);
  }
}
.particle-container .circle-container:nth-child(7) .circle {
  -webkit-animation-delay: 41ms;
          animation-delay: 41ms;
}
.particle-container .circle-container:nth-child(8) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-8;
          animation-name: move-frames-8;
  -webkit-animation-duration: 7962ms;
          animation-duration: 7962ms;
  -webkit-animation-delay: 581ms;
          animation-delay: 581ms;
}
@-webkit-keyframes move-frames-8 {
  from {
    transform: translate3d(23vw, 108vh, 0);
  }
  to {
    transform: translate3d(62vw, -132vh, 0);
  }
}
@keyframes move-frames-8 {
  from {
    transform: translate3d(23vw, 108vh, 0);
  }
  to {
    transform: translate3d(62vw, -132vh, 0);
  }
}
.particle-container .circle-container:nth-child(8) .circle {
  -webkit-animation-delay: 733ms;
          animation-delay: 733ms;
}
.particle-container .circle-container:nth-child(9) {
  width: 10px;
  height: 10px;
  -webkit-animation-name: move-frames-9;
          animation-name: move-frames-9;
  -webkit-animation-duration: 9673ms;
          animation-duration: 9673ms;
  -webkit-animation-delay: 6965ms;
          animation-delay: 6965ms;
}
@-webkit-keyframes move-frames-9 {
  from {
    transform: translate3d(55vw, 101vh, 0);
  }
  to {
    transform: translate3d(6vw, -125vh, 0);
  }
}
@keyframes move-frames-9 {
  from {
    transform: translate3d(55vw, 101vh, 0);
  }
  to {
    transform: translate3d(6vw, -125vh, 0);
  }
}
.particle-container .circle-container:nth-child(9) .circle {
  -webkit-animation-delay: 2608ms;
          animation-delay: 2608ms;
}
.particle-container .circle-container:nth-child(10) {
  width: 10px;
  height: 10px;
  -webkit-animation-name: move-frames-10;
          animation-name: move-frames-10;
  -webkit-animation-duration: 8698ms;
          animation-duration: 8698ms;
  -webkit-animation-delay: 4534ms;
          animation-delay: 4534ms;
}
@-webkit-keyframes move-frames-10 {
  from {
    transform: translate3d(71vw, 105vh, 0);
  }
  to {
    transform: translate3d(88vw, -113vh, 0);
  }
}
@keyframes move-frames-10 {
  from {
    transform: translate3d(71vw, 105vh, 0);
  }
  to {
    transform: translate3d(88vw, -113vh, 0);
  }
}
.particle-container .circle-container:nth-child(10) .circle {
  -webkit-animation-delay: 2469ms;
          animation-delay: 2469ms;
}
.particle-container .circle-container:nth-child(11) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-11;
          animation-name: move-frames-11;
  -webkit-animation-duration: 9524ms;
          animation-duration: 9524ms;
  -webkit-animation-delay: 8259ms;
          animation-delay: 8259ms;
}
@-webkit-keyframes move-frames-11 {
  from {
    transform: translate3d(70vw, 106vh, 0);
  }
  to {
    transform: translate3d(91vw, -122vh, 0);
  }
}
@keyframes move-frames-11 {
  from {
    transform: translate3d(70vw, 106vh, 0);
  }
  to {
    transform: translate3d(91vw, -122vh, 0);
  }
}
.particle-container .circle-container:nth-child(11) .circle {
  -webkit-animation-delay: 309ms;
          animation-delay: 309ms;
}
.particle-container .circle-container:nth-child(12) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-12;
          animation-name: move-frames-12;
  -webkit-animation-duration: 8051ms;
          animation-duration: 8051ms;
  -webkit-animation-delay: 2637ms;
          animation-delay: 2637ms;
}
@-webkit-keyframes move-frames-12 {
  from {
    transform: translate3d(75vw, 105vh, 0);
  }
  to {
    transform: translate3d(99vw, -126vh, 0);
  }
}
@keyframes move-frames-12 {
  from {
    transform: translate3d(75vw, 105vh, 0);
  }
  to {
    transform: translate3d(99vw, -126vh, 0);
  }
}
.particle-container .circle-container:nth-child(12) .circle {
  -webkit-animation-delay: 1413ms;
          animation-delay: 1413ms;
}
.particle-container .circle-container:nth-child(13) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-13;
          animation-name: move-frames-13;
  -webkit-animation-duration: 9152ms;
          animation-duration: 9152ms;
  -webkit-animation-delay: 10926ms;
          animation-delay: 10926ms;
}
@-webkit-keyframes move-frames-13 {
  from {
    transform: translate3d(84vw, 107vh, 0);
  }
  to {
    transform: translate3d(29vw, -122vh, 0);
  }
}
@keyframes move-frames-13 {
  from {
    transform: translate3d(84vw, 107vh, 0);
  }
  to {
    transform: translate3d(29vw, -122vh, 0);
  }
}
.particle-container .circle-container:nth-child(13) .circle {
  -webkit-animation-delay: 1607ms;
          animation-delay: 1607ms;
}
.particle-container .circle-container:nth-child(14) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-14;
          animation-name: move-frames-14;
  -webkit-animation-duration: 10516ms;
          animation-duration: 10516ms;
  -webkit-animation-delay: 2739ms;
          animation-delay: 2739ms;
}
@-webkit-keyframes move-frames-14 {
  from {
    transform: translate3d(82vw, 105vh, 0);
  }
  to {
    transform: translate3d(25vw, -116vh, 0);
  }
}
@keyframes move-frames-14 {
  from {
    transform: translate3d(82vw, 105vh, 0);
  }
  to {
    transform: translate3d(25vw, -116vh, 0);
  }
}
.particle-container .circle-container:nth-child(14) .circle {
  -webkit-animation-delay: 3983ms;
          animation-delay: 3983ms;
}
.particle-container .circle-container:nth-child(15) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-15;
          animation-name: move-frames-15;
  -webkit-animation-duration: 8346ms;
          animation-duration: 8346ms;
  -webkit-animation-delay: 7797ms;
          animation-delay: 7797ms;
}
@-webkit-keyframes move-frames-15 {
  from {
    transform: translate3d(54vw, 108vh, 0);
  }
  to {
    transform: translate3d(72vw, -126vh, 0);
  }
}
@keyframes move-frames-15 {
  from {
    transform: translate3d(54vw, 108vh, 0);
  }
  to {
    transform: translate3d(72vw, -126vh, 0);
  }
}
.particle-container .circle-container:nth-child(15) .circle {
  -webkit-animation-delay: 1936ms;
          animation-delay: 1936ms;
}
.particle-container .circle-container:nth-child(16) {
  width: 4px;
  height: 4px;
  -webkit-animation-name: move-frames-16;
          animation-name: move-frames-16;
  -webkit-animation-duration: 8763ms;
          animation-duration: 8763ms;
  -webkit-animation-delay: 9839ms;
          animation-delay: 9839ms;
}
@-webkit-keyframes move-frames-16 {
  from {
    transform: translate3d(96vw, 110vh, 0);
  }
  to {
    transform: translate3d(63vw, -113vh, 0);
  }
}
@keyframes move-frames-16 {
  from {
    transform: translate3d(96vw, 110vh, 0);
  }
  to {
    transform: translate3d(63vw, -113vh, 0);
  }
}
.particle-container .circle-container:nth-child(16) .circle {
  -webkit-animation-delay: 1247ms;
          animation-delay: 1247ms;
}
.particle-container .circle-container:nth-child(17) {
  width: 2px;
  height: 2px;
  -webkit-animation-name: move-frames-17;
          animation-name: move-frames-17;
  -webkit-animation-duration: 7966ms;
          animation-duration: 7966ms;
  -webkit-animation-delay: 8964ms;
          animation-delay: 8964ms;
}
@-webkit-keyframes move-frames-17 {
  from {
    transform: translate3d(42vw, 106vh, 0);
  }
  to {
    transform: translate3d(98vw, -113vh, 0);
  }
}
@keyframes move-frames-17 {
  from {
    transform: translate3d(42vw, 106vh, 0);
  }
  to {
    transform: translate3d(98vw, -113vh, 0);
  }
}
.particle-container .circle-container:nth-child(17) .circle {
  -webkit-animation-delay: 3936ms;
          animation-delay: 3936ms;
}
.particle-container .circle-container:nth-child(18) {
  width: 1px;
  height: 1px;
  -webkit-animation-name: move-frames-18;
          animation-name: move-frames-18;
  -webkit-animation-duration: 9998ms;
          animation-duration: 9998ms;
  -webkit-animation-delay: 7812ms;
          animation-delay: 7812ms;
}
@-webkit-keyframes move-frames-18 {
  from {
    transform: translate3d(2vw, 103vh, 0);
  }
  to {
    transform: translate3d(59vw, -119vh, 0);
  }
}
@keyframes move-frames-18 {
  from {
    transform: translate3d(2vw, 103vh, 0);
  }
  to {
    transform: translate3d(59vw, -119vh, 0);
  }
}
.particle-container .circle-container:nth-child(18) .circle {
  -webkit-animation-delay: 641ms;
          animation-delay: 641ms;
}
.particle-container .circle-container:nth-child(19) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-19;
          animation-name: move-frames-19;
  -webkit-animation-duration: 7736ms;
          animation-duration: 7736ms;
  -webkit-animation-delay: 4872ms;
          animation-delay: 4872ms;
}
@-webkit-keyframes move-frames-19 {
  from {
    transform: translate3d(13vw, 104vh, 0);
  }
  to {
    transform: translate3d(83vw, -129vh, 0);
  }
}
@keyframes move-frames-19 {
  from {
    transform: translate3d(13vw, 104vh, 0);
  }
  to {
    transform: translate3d(83vw, -129vh, 0);
  }
}
.particle-container .circle-container:nth-child(19) .circle {
  -webkit-animation-delay: 2611ms;
          animation-delay: 2611ms;
}
.particle-container .circle-container:nth-child(20) {
  width: 3px;
  height: 3px;
  -webkit-animation-name: move-frames-20;
          animation-name: move-frames-20;
  -webkit-animation-duration: 7053ms;
          animation-duration: 7053ms;
  -webkit-animation-delay: 10448ms;
          animation-delay: 10448ms;
}
@-webkit-keyframes move-frames-20 {
  from {
    transform: translate3d(26vw, 101vh, 0);
  }
  to {
    transform: translate3d(54vw, -127vh, 0);
  }
}
@keyframes move-frames-20 {
  from {
    transform: translate3d(26vw, 101vh, 0);
  }
  to {
    transform: translate3d(54vw, -127vh, 0);
  }
}
.particle-container .circle-container:nth-child(20) .circle {
  -webkit-animation-delay: 614ms;
          animation-delay: 614ms;
}
.particle-container .circle-container:nth-child(21) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-21;
          animation-name: move-frames-21;
  -webkit-animation-duration: 8419ms;
          animation-duration: 8419ms;
  -webkit-animation-delay: 1405ms;
          animation-delay: 1405ms;
}
@-webkit-keyframes move-frames-21 {
  from {
    transform: translate3d(1vw, 107vh, 0);
  }
  to {
    transform: translate3d(70vw, -120vh, 0);
  }
}
@keyframes move-frames-21 {
  from {
    transform: translate3d(1vw, 107vh, 0);
  }
  to {
    transform: translate3d(70vw, -120vh, 0);
  }
}
.particle-container .circle-container:nth-child(21) .circle {
  -webkit-animation-delay: 1761ms;
          animation-delay: 1761ms;
}
.particle-container .circle-container:nth-child(22) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-22;
          animation-name: move-frames-22;
  -webkit-animation-duration: 10964ms;
          animation-duration: 10964ms;
  -webkit-animation-delay: 6692ms;
          animation-delay: 6692ms;
}
@-webkit-keyframes move-frames-22 {
  from {
    transform: translate3d(98vw, 107vh, 0);
  }
  to {
    transform: translate3d(62vw, -109vh, 0);
  }
}
@keyframes move-frames-22 {
  from {
    transform: translate3d(98vw, 107vh, 0);
  }
  to {
    transform: translate3d(62vw, -109vh, 0);
  }
}
.particle-container .circle-container:nth-child(22) .circle {
  -webkit-animation-delay: 1060ms;
          animation-delay: 1060ms;
}
.particle-container .circle-container:nth-child(23) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-23;
          animation-name: move-frames-23;
  -webkit-animation-duration: 9655ms;
          animation-duration: 9655ms;
  -webkit-animation-delay: 614ms;
          animation-delay: 614ms;
}
@-webkit-keyframes move-frames-23 {
  from {
    transform: translate3d(1vw, 105vh, 0);
  }
  to {
    transform: translate3d(80vw, -132vh, 0);
  }
}
@keyframes move-frames-23 {
  from {
    transform: translate3d(1vw, 105vh, 0);
  }
  to {
    transform: translate3d(80vw, -132vh, 0);
  }
}
.particle-container .circle-container:nth-child(23) .circle {
  -webkit-animation-delay: 1652ms;
          animation-delay: 1652ms;
}
.particle-container .circle-container:nth-child(24) {
  width: 1px;
  height: 1px;
  -webkit-animation-name: move-frames-24;
          animation-name: move-frames-24;
  -webkit-animation-duration: 8568ms;
          animation-duration: 8568ms;
  -webkit-animation-delay: 7057ms;
          animation-delay: 7057ms;
}
@-webkit-keyframes move-frames-24 {
  from {
    transform: translate3d(60vw, 107vh, 0);
  }
  to {
    transform: translate3d(45vw, -109vh, 0);
  }
}
@keyframes move-frames-24 {
  from {
    transform: translate3d(60vw, 107vh, 0);
  }
  to {
    transform: translate3d(45vw, -109vh, 0);
  }
}
.particle-container .circle-container:nth-child(24) .circle {
  -webkit-animation-delay: 2542ms;
          animation-delay: 2542ms;
}
.particle-container .circle-container:nth-child(25) {
  width: 3px;
  height: 3px;
  -webkit-animation-name: move-frames-25;
          animation-name: move-frames-25;
  -webkit-animation-duration: 8490ms;
          animation-duration: 8490ms;
  -webkit-animation-delay: 10179ms;
          animation-delay: 10179ms;
}
@-webkit-keyframes move-frames-25 {
  from {
    transform: translate3d(86vw, 108vh, 0);
  }
  to {
    transform: translate3d(60vw, -128vh, 0);
  }
}
@keyframes move-frames-25 {
  from {
    transform: translate3d(86vw, 108vh, 0);
  }
  to {
    transform: translate3d(60vw, -128vh, 0);
  }
}
.particle-container .circle-container:nth-child(25) .circle {
  -webkit-animation-delay: 2034ms;
          animation-delay: 2034ms;
}
.particle-container .circle-container:nth-child(26) {
  width: 4px;
  height: 4px;
  -webkit-animation-name: move-frames-26;
          animation-name: move-frames-26;
  -webkit-animation-duration: 10189ms;
          animation-duration: 10189ms;
  -webkit-animation-delay: 6098ms;
          animation-delay: 6098ms;
}
@-webkit-keyframes move-frames-26 {
  from {
    transform: translate3d(80vw, 105vh, 0);
  }
  to {
    transform: translate3d(52vw, -109vh, 0);
  }
}
@keyframes move-frames-26 {
  from {
    transform: translate3d(80vw, 105vh, 0);
  }
  to {
    transform: translate3d(52vw, -109vh, 0);
  }
}
.particle-container .circle-container:nth-child(26) .circle {
  -webkit-animation-delay: 3209ms;
          animation-delay: 3209ms;
}
.particle-container .circle-container:nth-child(27) {
  width: 10px;
  height: 10px;
  -webkit-animation-name: move-frames-27;
          animation-name: move-frames-27;
  -webkit-animation-duration: 10474ms;
          animation-duration: 10474ms;
  -webkit-animation-delay: 1905ms;
          animation-delay: 1905ms;
}
@-webkit-keyframes move-frames-27 {
  from {
    transform: translate3d(17vw, 107vh, 0);
  }
  to {
    transform: translate3d(83vw, -124vh, 0);
  }
}
@keyframes move-frames-27 {
  from {
    transform: translate3d(17vw, 107vh, 0);
  }
  to {
    transform: translate3d(83vw, -124vh, 0);
  }
}
.particle-container .circle-container:nth-child(27) .circle {
  -webkit-animation-delay: 3005ms;
          animation-delay: 3005ms;
}
.particle-container .circle-container:nth-child(28) {
  width: 9px;
  height: 9px;
  -webkit-animation-name: move-frames-28;
          animation-name: move-frames-28;
  -webkit-animation-duration: 9194ms;
          animation-duration: 9194ms;
  -webkit-animation-delay: 10851ms;
          animation-delay: 10851ms;
}
@-webkit-keyframes move-frames-28 {
  from {
    transform: translate3d(96vw, 101vh, 0);
  }
  to {
    transform: translate3d(87vw, -115vh, 0);
  }
}
@keyframes move-frames-28 {
  from {
    transform: translate3d(96vw, 101vh, 0);
  }
  to {
    transform: translate3d(87vw, -115vh, 0);
  }
}
.particle-container .circle-container:nth-child(28) .circle {
  -webkit-animation-delay: 1393ms;
          animation-delay: 1393ms;
}
.particle-container .circle-container:nth-child(29) {
  width: 9px;
  height: 9px;
  -webkit-animation-name: move-frames-29;
          animation-name: move-frames-29;
  -webkit-animation-duration: 8526ms;
          animation-duration: 8526ms;
  -webkit-animation-delay: 9822ms;
          animation-delay: 9822ms;
}
@-webkit-keyframes move-frames-29 {
  from {
    transform: translate3d(37vw, 105vh, 0);
  }
  to {
    transform: translate3d(75vw, -121vh, 0);
  }
}
@keyframes move-frames-29 {
  from {
    transform: translate3d(37vw, 105vh, 0);
  }
  to {
    transform: translate3d(75vw, -121vh, 0);
  }
}
.particle-container .circle-container:nth-child(29) .circle {
  -webkit-animation-delay: 1499ms;
          animation-delay: 1499ms;
}
.particle-container .circle-container:nth-child(30) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-30;
          animation-name: move-frames-30;
  -webkit-animation-duration: 8613ms;
          animation-duration: 8613ms;
  -webkit-animation-delay: 1282ms;
          animation-delay: 1282ms;
}
@-webkit-keyframes move-frames-30 {
  from {
    transform: translate3d(70vw, 107vh, 0);
  }
  to {
    transform: translate3d(49vw, -121vh, 0);
  }
}
@keyframes move-frames-30 {
  from {
    transform: translate3d(70vw, 107vh, 0);
  }
  to {
    transform: translate3d(49vw, -121vh, 0);
  }
}
.particle-container .circle-container:nth-child(30) .circle {
  -webkit-animation-delay: 1636ms;
          animation-delay: 1636ms;
}
.particle-container .circle-container:nth-child(31) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-31;
          animation-name: move-frames-31;
  -webkit-animation-duration: 8867ms;
          animation-duration: 8867ms;
  -webkit-animation-delay: 479ms;
          animation-delay: 479ms;
}
@-webkit-keyframes move-frames-31 {
  from {
    transform: translate3d(66vw, 101vh, 0);
  }
  to {
    transform: translate3d(70vw, -104vh, 0);
  }
}
@keyframes move-frames-31 {
  from {
    transform: translate3d(66vw, 101vh, 0);
  }
  to {
    transform: translate3d(70vw, -104vh, 0);
  }
}
.particle-container .circle-container:nth-child(31) .circle {
  -webkit-animation-delay: 440ms;
          animation-delay: 440ms;
}
.particle-container .circle-container:nth-child(32) {
  width: 3px;
  height: 3px;
  -webkit-animation-name: move-frames-32;
          animation-name: move-frames-32;
  -webkit-animation-duration: 8122ms;
          animation-duration: 8122ms;
  -webkit-animation-delay: 3740ms;
          animation-delay: 3740ms;
}
@-webkit-keyframes move-frames-32 {
  from {
    transform: translate3d(13vw, 101vh, 0);
  }
  to {
    transform: translate3d(20vw, -120vh, 0);
  }
}
@keyframes move-frames-32 {
  from {
    transform: translate3d(13vw, 101vh, 0);
  }
  to {
    transform: translate3d(20vw, -120vh, 0);
  }
}
.particle-container .circle-container:nth-child(32) .circle {
  -webkit-animation-delay: 315ms;
          animation-delay: 315ms;
}
.particle-container .circle-container:nth-child(33) {
  width: 9px;
  height: 9px;
  -webkit-animation-name: move-frames-33;
          animation-name: move-frames-33;
  -webkit-animation-duration: 9088ms;
          animation-duration: 9088ms;
  -webkit-animation-delay: 8053ms;
          animation-delay: 8053ms;
}
@-webkit-keyframes move-frames-33 {
  from {
    transform: translate3d(86vw, 102vh, 0);
  }
  to {
    transform: translate3d(47vw, -115vh, 0);
  }
}
@keyframes move-frames-33 {
  from {
    transform: translate3d(86vw, 102vh, 0);
  }
  to {
    transform: translate3d(47vw, -115vh, 0);
  }
}
.particle-container .circle-container:nth-child(33) .circle {
  -webkit-animation-delay: 3419ms;
          animation-delay: 3419ms;
}
.particle-container .circle-container:nth-child(34) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-34;
          animation-name: move-frames-34;
  -webkit-animation-duration: 8476ms;
          animation-duration: 8476ms;
  -webkit-animation-delay: 5297ms;
          animation-delay: 5297ms;
}
@-webkit-keyframes move-frames-34 {
  from {
    transform: translate3d(90vw, 102vh, 0);
  }
  to {
    transform: translate3d(99vw, -121vh, 0);
  }
}
@keyframes move-frames-34 {
  from {
    transform: translate3d(90vw, 102vh, 0);
  }
  to {
    transform: translate3d(99vw, -121vh, 0);
  }
}
.particle-container .circle-container:nth-child(34) .circle {
  -webkit-animation-delay: 1420ms;
          animation-delay: 1420ms;
}
.particle-container .circle-container:nth-child(35) {
  width: 9px;
  height: 9px;
  -webkit-animation-name: move-frames-35;
          animation-name: move-frames-35;
  -webkit-animation-duration: 8816ms;
          animation-duration: 8816ms;
  -webkit-animation-delay: 10525ms;
          animation-delay: 10525ms;
}
@-webkit-keyframes move-frames-35 {
  from {
    transform: translate3d(90vw, 101vh, 0);
  }
  to {
    transform: translate3d(78vw, -120vh, 0);
  }
}
@keyframes move-frames-35 {
  from {
    transform: translate3d(90vw, 101vh, 0);
  }
  to {
    transform: translate3d(78vw, -120vh, 0);
  }
}
.particle-container .circle-container:nth-child(35) .circle {
  -webkit-animation-delay: 2304ms;
          animation-delay: 2304ms;
}
.particle-container .circle-container:nth-child(36) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-36;
          animation-name: move-frames-36;
  -webkit-animation-duration: 9151ms;
          animation-duration: 9151ms;
  -webkit-animation-delay: 7001ms;
          animation-delay: 7001ms;
}
@-webkit-keyframes move-frames-36 {
  from {
    transform: translate3d(57vw, 108vh, 0);
  }
  to {
    transform: translate3d(32vw, -109vh, 0);
  }
}
@keyframes move-frames-36 {
  from {
    transform: translate3d(57vw, 108vh, 0);
  }
  to {
    transform: translate3d(32vw, -109vh, 0);
  }
}
.particle-container .circle-container:nth-child(36) .circle {
  -webkit-animation-delay: 2143ms;
          animation-delay: 2143ms;
}
.particle-container .circle-container:nth-child(37) {
  width: 9px;
  height: 9px;
  -webkit-animation-name: move-frames-37;
          animation-name: move-frames-37;
  -webkit-animation-duration: 9846ms;
          animation-duration: 9846ms;
  -webkit-animation-delay: 1449ms;
          animation-delay: 1449ms;
}
@-webkit-keyframes move-frames-37 {
  from {
    transform: translate3d(38vw, 109vh, 0);
  }
  to {
    transform: translate3d(63vw, -117vh, 0);
  }
}
@keyframes move-frames-37 {
  from {
    transform: translate3d(38vw, 109vh, 0);
  }
  to {
    transform: translate3d(63vw, -117vh, 0);
  }
}
.particle-container .circle-container:nth-child(37) .circle {
  -webkit-animation-delay: 3068ms;
          animation-delay: 3068ms;
}
.particle-container .circle-container:nth-child(38) {
  width: 9px;
  height: 9px;
  -webkit-animation-name: move-frames-38;
          animation-name: move-frames-38;
  -webkit-animation-duration: 9407ms;
          animation-duration: 9407ms;
  -webkit-animation-delay: 4407ms;
          animation-delay: 4407ms;
}
@-webkit-keyframes move-frames-38 {
  from {
    transform: translate3d(82vw, 106vh, 0);
  }
  to {
    transform: translate3d(29vw, -127vh, 0);
  }
}
@keyframes move-frames-38 {
  from {
    transform: translate3d(82vw, 106vh, 0);
  }
  to {
    transform: translate3d(29vw, -127vh, 0);
  }
}
.particle-container .circle-container:nth-child(38) .circle {
  -webkit-animation-delay: 2402ms;
          animation-delay: 2402ms;
}
.particle-container .circle-container:nth-child(39) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-39;
          animation-name: move-frames-39;
  -webkit-animation-duration: 9910ms;
          animation-duration: 9910ms;
  -webkit-animation-delay: 2095ms;
          animation-delay: 2095ms;
}
@-webkit-keyframes move-frames-39 {
  from {
    transform: translate3d(66vw, 106vh, 0);
  }
  to {
    transform: translate3d(24vw, -111vh, 0);
  }
}
@keyframes move-frames-39 {
  from {
    transform: translate3d(66vw, 106vh, 0);
  }
  to {
    transform: translate3d(24vw, -111vh, 0);
  }
}
.particle-container .circle-container:nth-child(39) .circle {
  -webkit-animation-delay: 2076ms;
          animation-delay: 2076ms;
}
.particle-container .circle-container:nth-child(40) {
  width: 2px;
  height: 2px;
  -webkit-animation-name: move-frames-40;
          animation-name: move-frames-40;
  -webkit-animation-duration: 8182ms;
          animation-duration: 8182ms;
  -webkit-animation-delay: 8179ms;
          animation-delay: 8179ms;
}
@-webkit-keyframes move-frames-40 {
  from {
    transform: translate3d(1vw, 105vh, 0);
  }
  to {
    transform: translate3d(4vw, -111vh, 0);
  }
}
@keyframes move-frames-40 {
  from {
    transform: translate3d(1vw, 105vh, 0);
  }
  to {
    transform: translate3d(4vw, -111vh, 0);
  }
}
.particle-container .circle-container:nth-child(40) .circle {
  -webkit-animation-delay: 3637ms;
          animation-delay: 3637ms;
}
.particle-container .circle-container:nth-child(41) {
  width: 6px;
  height: 6px;
  -webkit-animation-name: move-frames-41;
          animation-name: move-frames-41;
  -webkit-animation-duration: 7394ms;
          animation-duration: 7394ms;
  -webkit-animation-delay: 5610ms;
          animation-delay: 5610ms;
}
@-webkit-keyframes move-frames-41 {
  from {
    transform: translate3d(45vw, 109vh, 0);
  }
  to {
    transform: translate3d(80vw, -134vh, 0);
  }
}
@keyframes move-frames-41 {
  from {
    transform: translate3d(45vw, 109vh, 0);
  }
  to {
    transform: translate3d(80vw, -134vh, 0);
  }
}
.particle-container .circle-container:nth-child(41) .circle {
  -webkit-animation-delay: 764ms;
          animation-delay: 764ms;
}
.particle-container .circle-container:nth-child(42) {
  width: 3px;
  height: 3px;
  -webkit-animation-name: move-frames-42;
          animation-name: move-frames-42;
  -webkit-animation-duration: 9344ms;
          animation-duration: 9344ms;
  -webkit-animation-delay: 3990ms;
          animation-delay: 3990ms;
}
@-webkit-keyframes move-frames-42 {
  from {
    transform: translate3d(44vw, 105vh, 0);
  }
  to {
    transform: translate3d(57vw, -130vh, 0);
  }
}
@keyframes move-frames-42 {
  from {
    transform: translate3d(44vw, 105vh, 0);
  }
  to {
    transform: translate3d(57vw, -130vh, 0);
  }
}
.particle-container .circle-container:nth-child(42) .circle {
  -webkit-animation-delay: 2093ms;
          animation-delay: 2093ms;
}
.particle-container .circle-container:nth-child(43) {
  width: 2px;
  height: 2px;
  -webkit-animation-name: move-frames-43;
          animation-name: move-frames-43;
  -webkit-animation-duration: 8211ms;
          animation-duration: 8211ms;
  -webkit-animation-delay: 597ms;
          animation-delay: 597ms;
}
@-webkit-keyframes move-frames-43 {
  from {
    transform: translate3d(18vw, 101vh, 0);
  }
  to {
    transform: translate3d(23vw, -109vh, 0);
  }
}
@keyframes move-frames-43 {
  from {
    transform: translate3d(18vw, 101vh, 0);
  }
  to {
    transform: translate3d(23vw, -109vh, 0);
  }
}
.particle-container .circle-container:nth-child(43) .circle {
  -webkit-animation-delay: 2414ms;
          animation-delay: 2414ms;
}
.particle-container .circle-container:nth-child(44) {
  width: 6px;
  height: 6px;
  -webkit-animation-name: move-frames-44;
          animation-name: move-frames-44;
  -webkit-animation-duration: 8970ms;
          animation-duration: 8970ms;
  -webkit-animation-delay: 10452ms;
          animation-delay: 10452ms;
}
@-webkit-keyframes move-frames-44 {
  from {
    transform: translate3d(35vw, 107vh, 0);
  }
  to {
    transform: translate3d(66vw, -111vh, 0);
  }
}
@keyframes move-frames-44 {
  from {
    transform: translate3d(35vw, 107vh, 0);
  }
  to {
    transform: translate3d(66vw, -111vh, 0);
  }
}
.particle-container .circle-container:nth-child(44) .circle {
  -webkit-animation-delay: 351ms;
          animation-delay: 351ms;
}
.particle-container .circle-container:nth-child(45) {
  width: 5px;
  height: 5px;
  -webkit-animation-name: move-frames-45;
          animation-name: move-frames-45;
  -webkit-animation-duration: 10256ms;
          animation-duration: 10256ms;
  -webkit-animation-delay: 3298ms;
          animation-delay: 3298ms;
}
@-webkit-keyframes move-frames-45 {
  from {
    transform: translate3d(64vw, 103vh, 0);
  }
  to {
    transform: translate3d(23vw, -132vh, 0);
  }
}
@keyframes move-frames-45 {
  from {
    transform: translate3d(64vw, 103vh, 0);
  }
  to {
    transform: translate3d(23vw, -132vh, 0);
  }
}
.particle-container .circle-container:nth-child(45) .circle {
  -webkit-animation-delay: 392ms;
          animation-delay: 392ms;
}
.particle-container .circle-container:nth-child(46) {
  width: 8px;
  height: 8px;
  -webkit-animation-name: move-frames-46;
          animation-name: move-frames-46;
  -webkit-animation-duration: 9818ms;
          animation-duration: 9818ms;
  -webkit-animation-delay: 6297ms;
          animation-delay: 6297ms;
}
@-webkit-keyframes move-frames-46 {
  from {
    transform: translate3d(34vw, 103vh, 0);
  }
  to {
    transform: translate3d(91vw, -122vh, 0);
  }
}
@keyframes move-frames-46 {
  from {
    transform: translate3d(34vw, 103vh, 0);
  }
  to {
    transform: translate3d(91vw, -122vh, 0);
  }
}
.particle-container .circle-container:nth-child(46) .circle {
  -webkit-animation-delay: 1101ms;
          animation-delay: 1101ms;
}
.particle-container .circle-container:nth-child(47) {
  width: 9px;
  height: 9px;
  -webkit-animation-name: move-frames-47;
          animation-name: move-frames-47;
  -webkit-animation-duration: 10754ms;
          animation-duration: 10754ms;
  -webkit-animation-delay: 1075ms;
          animation-delay: 1075ms;
}
@-webkit-keyframes move-frames-47 {
  from {
    transform: translate3d(98vw, 104vh, 0);
  }
  to {
    transform: translate3d(1vw, -107vh, 0);
  }
}
@keyframes move-frames-47 {
  from {
    transform: translate3d(98vw, 104vh, 0);
  }
  to {
    transform: translate3d(1vw, -107vh, 0);
  }
}
.particle-container .circle-container:nth-child(47) .circle {
  -webkit-animation-delay: 3957ms;
          animation-delay: 3957ms;
}
.particle-container .circle-container:nth-child(48) {
  width: 2px;
  height: 2px;
  -webkit-animation-name: move-frames-48;
          animation-name: move-frames-48;
  -webkit-animation-duration: 9450ms;
          animation-duration: 9450ms;
  -webkit-animation-delay: 1649ms;
          animation-delay: 1649ms;
}
@-webkit-keyframes move-frames-48 {
  from {
    transform: translate3d(75vw, 110vh, 0);
  }
  to {
    transform: translate3d(61vw, -124vh, 0);
  }
}
@keyframes move-frames-48 {
  from {
    transform: translate3d(75vw, 110vh, 0);
  }
  to {
    transform: translate3d(61vw, -124vh, 0);
  }
}
.particle-container .circle-container:nth-child(48) .circle {
  -webkit-animation-delay: 106ms;
          animation-delay: 106ms;
}
.particle-container .circle-container:nth-child(49) {
  width: 6px;
  height: 6px;
  -webkit-animation-name: move-frames-49;
          animation-name: move-frames-49;
  -webkit-animation-duration: 7215ms;
          animation-duration: 7215ms;
  -webkit-animation-delay: 9270ms;
          animation-delay: 9270ms;
}
@-webkit-keyframes move-frames-49 {
  from {
    transform: translate3d(75vw, 108vh, 0);
  }
  to {
    transform: translate3d(4vw, -136vh, 0);
  }
}
@keyframes move-frames-49 {
  from {
    transform: translate3d(75vw, 108vh, 0);
  }
  to {
    transform: translate3d(4vw, -136vh, 0);
  }
}
.particle-container .circle-container:nth-child(49) .circle {
  -webkit-animation-delay: 2613ms;
          animation-delay: 2613ms;
}
.particle-container .circle-container:nth-child(50) {
  width: 7px;
  height: 7px;
  -webkit-animation-name: move-frames-50;
          animation-name: move-frames-50;
  -webkit-animation-duration: 9222ms;
          animation-duration: 9222ms;
  -webkit-animation-delay: 9584ms;
          animation-delay: 9584ms;
}
@-webkit-keyframes move-frames-50 {
  from {
    transform: translate3d(44vw, 102vh, 0);
  }
  to {
    transform: translate3d(87vw, -114vh, 0);
  }
}
@keyframes move-frames-50 {
  from {
    transform: translate3d(44vw, 102vh, 0);
  }
  to {
    transform: translate3d(87vw, -114vh, 0);
  }
}
.particle-container .circle-container:nth-child(50) .circle {
  -webkit-animation-delay: 3603ms;
          animation-delay: 3603ms;
}

html.dark .particle-container .circle-container .circle {
  background-image: radial-gradient(#7e65c6, #7e65c6 10%, rgb(126, 101, 198, 0) 56%);
}

.particle-container .content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}